NODE=local

function TEST()
{
    NODE=$NODE python3 -m binnacle.tester TEST "$@"
}


function EXPECT()
{
    NODE=$NODE python3 -m binnacle.tester EXPECT "$@"
}

function testplan()
{
    testcnt=`egrep '^[[:space:]]*(EXPECT|EXPECT_NOT|TEST|EXPECT_WITHIN|EXPECT_KEYWORD)[[:space:]]' $0 | wc -l`
    expect_tests=`egrep '^[[:space:]]*TESTS_EXPECTED_IN_LOOP[[:space:]]*' $0`

    x_ifs=$IFS
    IFS=$'\n'
    for line in $expect_tests; do
        expect_tests=`echo $line | cut -f 2 -d =`
        testcnt=`expr $testcnt + $expect_tests`
    done
    IFS=$x_ifs

    echo "1..`echo $testcnt`"
}